body {background-image: url(imagens/wallpaper001.jpg); margin: 0 auto;}

div.tipo {border: 1px solid rgb(85, 235, 255); margin: 0 auto;}

div.quadrado {  width: 300px; height: 300px; border: 1px solid black; border-radius: 10px; background-color: lightgray;}

div#q1 {background-color: aqua;}

div#q2 {background-image: linear-gradient(to right, white
    ,  black);}

div#q3 {background-image:url(imagens/pattern001.png);}