.tudo {font-style: italic; color: rgb(0, 0, 0); background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 255, 255)
    );}

.título{color: white; background-image: linear-gradient(to right, rgb(255, 0, 0), white); font-size: 10px;}

.espaço{color: chartreuse;background-image: linear-gradient(to right, black, white); font-size: 30px;}